.container{
    font-family:sans-serif;
}
.leftIntro{
    font-family:sans-serif;
    width:40%;
    text-align: center;
    padding:8% 2%;
    overflow: hidden;
    background-color: rgb(246, 246, 242);
    display: inline-block;
}
.headshot{
    width:200px;
    height: auto;
    border-radius:50%;
    margin-bottom: 20px;
}
hr{
    width:13%;
    border:none;
    height:5px;
    color:firebrick;
    background-color: firebrick;
}
h2{
    font-size:40px;
}
h1{
    font-size:70px;
    margin-bottom:0;
}
h3{
    font-size:25px;
}
h4{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 500;
    margin-bottom: 50px;
    font-size:16px;
}
.social{
    width:20px;
    height: auto;
    padding:5px;
}
.rightIntro{
    width:55%;
    display: inline-block;
    vertical-align: top;
    font-family:sans-serif;
    text-align: center;
    margin: auto;
}
#buttonLeft{
    display: inline-block;
    width:auto;
}
#buttonRight{
    display: inline-block;
    width: auto;
}
.button{
    border: 2px solid firebrick;
    padding: 10px 30px;
    border-radius:50px;
    margin:10px;
}
.buttonText{
    margin:0px;
}
.button:hover{
    background-color: firebrick;
    color:white;
    cursor: pointer;
}